@import "./../../node_modules/bootstrap/scss/bootstrap";

$color-0: #fcf3d2;
$color-1: #78d7b5;
$color-2: #eea27e;
$color-3: #fbb03b;
$color-4: #ed7880;
$color-5: #41210a;
$color-6: #ee787f;

@keyframes slide-up {
  from {
    transform: translate3d(0, 40px, 0);
    color: transparent;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    color: #ee787f;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  font-size: 16px;
  background-color: $color-0;
}

h1,
h2,
h3,
h4,
main {
  font-family: "Comfortaa", cursive;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.intro {
  height: 100vh;
  min-height: 400px;
}

.intro-video {
  top: 0;
  left: 0;
  object-fit: cover;
  
}

.intro-arrow {
  bottom: 0;
  color: $color-6;
  z-index: 2;
}

.bg-color-1 {
  background-color: $color-1;
}

.bg-color-2 {
  background-color: $color-2;
}

.bg-color-3 {
  background-color: $color-3;
}

.bg-color-4 {
  background-color: $color-4;
}

h2 {
  background-color: $color-6;
  color: $color-0;
  border-radius: 40px;
  border: solid 4px $color-5;
}

.info-container {
  background-color: $color-0;
  border-radius: 40px;
  border: solid 4px $color-5;
}
